<f:layout name="Default" />

<f:section name="title">
    <h2>Gefängnis Zellen - Übersicht</h2>
</f:section>

<f:section name="sideBar">
    <f:render partial="SideBarGlossar" />
</f:section>


<f:section name="main">

    <table id="datatable" class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>Name</th>
                <th>Name En</th>
                <th></th>
            </tr>
        </thead>


        <tbody>
            
            <f:for each="{prisonCells}" as="prisonCell">
                <tr>
                    <td>{prisonCell.name}</td>
                    <td>{prisonCell.nameEn}</td>
                    <f:comment>
                        <td>
                            <f:format.crop maxCharacters="35"><f:format.stripTags>{prisonCell.inlineInmate}</f:format.stripTags></f:format.crop>
                        </td>
                    </f:comment>
                    <td>
                        <f:link.action action="edit" arguments="{prisonCell : prisonCell}" class="btn btn-primary btn-xs">
                            <i class="fa fa-pencil fa-2x" aria-hidden="true"></i>
                        </f:link.action>
                        <f:link.action action="delete" arguments="{prisonCell : prisonCell}" class="askbeforedelete btn btn-warning btn-xs">
                            <i class="fa fa-trash-o fa-2x" aria-hidden="true"></i>
                        </f:link.action>
                    </td>
                </tr>
            </f:for>
        </tbody>
    </table>

</f:section>
