
<f:layout name="Default" />

<f:section name="title">
    <h2>Karten Übersicht</h2>
</f:section>

<f:section name="main">

    <table id="datatable" class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>Text auf Flagge</th>
                <th>Überschrift</th>
                <th>Farbe</th>
                <th>Längengrad</th>
                <th>Breitengrad</th>
                <th>Beschreibung</th>
                <th></th>
            </tr>
        </thead>


        <tbody>
            
            <f:for each="{cardPois}" as="cardPoi">
                <tr>
                    <td>{cardPoi.flagText}</td>
                    <td>{cardPoi.title}</td>
                    <td></td>
                    <td>{cardPoi.longitude}</td>
                    <td>{cardPoi.latitude}</td>
                    <td>                            
                        <f:format.crop maxCharacters="35"><f:format.stripTags>{cardPoi.description}</f:format.stripTags></f:format.crop>
                    </td>
                    <td></td>
                </tr>
            </f:for>
        </tbody>
    </table>

</f:section>
