<f:layout name="Default" />

<f:section name="title">
    <h2>Karten Element bearbeiten</h2>
</f:section>

<f:section name="sideBar">
    <div class="left_col scroll-view">
        <br />
        <!-- sidebar menu -->
        <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
            <div class="menu_section">
                <h3>Markierungen</h3>
                <ul class="nav side-menu">
                    <li>
                        <f:link.action action="list">
                            <i class="fa fa-list"></i> Liste
                        </f:link.action>
                    </li>
                    <li>
                        <f:link.action action="new">
                            <i class="fa fa-plus-circle"></i> Neu
                        </f:link.action>
                    </li>

                </ul>
            </div>
            <div class="menu_section">
                <h3>Übersicht</h3>
                <ul class="nav side-menu">
                    <li class="active">
                        <f:link.action action="showOnCard">
                            <i class="fa fa-map-pin"></i> Karte
                        </f:link.action>
                    </li>
                </ul>
            </div>

        </div>
        <!-- /sidebar menu -->

    </div>
</f:section>



<f:section name="main">

    <div id="cardPoiMap" style="min-height: 600px;"></div>

</f:section>

<f:section name="footer">
    <script>
        var pois = <f:format.raw>{cardPois}</f:format.raw>;
        
        if ($("#cardPoiMap").length === 1) {
      
//            var mymap = L.map('cardPoiMap').setView([47.76, 12.73], 8);
//            L.tileLayer('https://a.tile.openstreetmap.org/{' + 'z}/{' + 'x}/{' + 'y}.png', {
//                attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a>',
//                maxZoom: 18,
//            }).addTo(mymap);

            var mymap = L.map('cardPoiMap', { 
                zoomControl:false,
                minZoom: 9,
                maxZoom: 8
            }).setView([47.76, 12.73], 8);
            L.tileLayer('/index.php?eID=map_server&x={' + 'x}&y={' + 'y}&z={' + 'z}').addTo(mymap);

            $.each(pois, function( index, value ) {
                console.log(value.latlng)
                L.marker(value.latlng).addTo(mymap).bindPopup(value.title);
            });
        }

    </script>
</f:section>