<f:layout name="Default" />

<f:section name="title">
    <h2>Dateiverwaltung</h2>
</f:section>


<f:section name="sideBar">

    <div class="left_col scroll-view">
        <br />
        <!-- sidebar menu -->
        <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
            <div class="menu_section">
                <ul class="nav side-menu">
                    <li>
                        <f:link.action action="list">
                            <i class="fa fa-list"></i> Datei Liste
                        </f:link.action>
                    </li>
                    <li class="active">
                        <f:link.action action="upload">
                            <i class="fa fa-plus-circle"></i> Datei hochladen
                        </f:link.action>
                    </li>
                    <li>
                        <f:link.action action="partner">
                            <i class="fa fa fa-cog"></i> Partner Verwalung
                        </f:link.action>
                    </li>
                </ul>
            </div>
        </div>
        <!-- /sidebar menu -->
    </div>

</f:section>

<f:section name="main">
    <div class="card">
        <h3>Partner verwaltung</h3>
    </div>
    <table id="datatable" class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>Überschrift</th>
                <th>X</th>
                <th>Y</th>
                <th>Radius</th>
                <th>Typ</th>
                <th>Beschreibung</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <f:for each="{scopePois1}" as="scopePoi">
                <tr>
                    <td>{scopePoi.title}</td>
                    <td>{scopePoi.x}</td>
                    <td>{scopePoi.y}</td>
                    <td>{scopePoi.radius}</td>
                    <td>
                        <f:if condition="{scopePoi.fullscreenvideo}">
                            <f:then><i class="fa fa-video-camera fa-2x" aria-hidden="true"></i></f:then>
                            <f:else><i class="fa fa-image fa-2x" aria-hidden="true"></i></f:else>
                        </f:if></td>
                    <td>                            
                        <f:format.crop maxCharacters="35">
                            <f:format.stripTags>{scopePoi.description}</f:format.stripTags>
                        </f:format.crop>
                    </td>
                    <td>
                        <f:link.action action="edit" arguments="{scopePoi : scopePoi}" class="btn btn-primary btn-xs">
                            <i class="fa fa-pencil fa-2x" aria-hidden="true"></i>
                        </f:link.action>
                        <f:link.action action="delete" arguments="{scopePoi : scopePoi}" class="askbeforedelete btn btn-warning btn-xs">
                            <i class="fa fa-trash-o fa-2x" aria-hidden="true"></i>
                        </f:link.action>
                    </td>
                </tr>
            </f:for>
        </tbody>
    </table>

</f:section>
