
<script>
    $("#actionRadius").ionRangeSlider({
        min: 1,
        max: 100,
        from: 30,
    });


    if ($("#cardPoiMap").length === 1) {
        var marker = false;
//        var mymap = L.map('cardPoiMap').setView([47.76, 12.73], 8);
//        L.tileLayer('https://a.tile.openstreetmap.org/{' + 'z}/{' + 'x}/{' + 'y}.png', {
//            attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a>',
//            maxZoom: 18,
////                    id: 'mapbox.streets',
////                    accessToken: 'your.mapbox.access.token'
//        }).addTo(mymap);

        var mymap = L.map('cardPoiMap', { 
            zoomControl:false,
            minZoom: 15,
            maxZoom: 15
        }).setView([47.76, 12.73], 15);
        L.tileLayer('/index.php?eID=map_server&x={' + 'x}&y={' + 'y}&z={' + 'z}').addTo(mymap);

        mymap.on('click', function onMapClick(e) {
            if (marker === false) {
                marker = L.marker(e.latlng).addTo(mymap);
            } else {
                marker.setLatLng(e.latlng);
            }
            $("#longitude").val(e.latlng.lng);
            $("#latitude").val(e.latlng.lat);
        });

        $("#longitude").change(function () {
            if (marker !== false) {
                marker.setLatLng({
                    lat: marker._latlng.lat,
                    lng: $("#longitude").val()
                });
            }
        });

        $("#latitude").change(function () {
            if (marker !== false) {
                marker.setLatLng({
                    lat: $("#latitude").val(),
                    lng: marker._latlng.lng
                });
            }
        });

    }

    ClassicEditor.create(document.querySelector('#description'), {
        language: 'de',
        removePlugins: ['Link'],
        toolbar: ['heading', '|', 'bold', 'italic', 'bulletedList', 'numberedList', 'blockQuote'],
        heading: {
            options: [
                {model: 'heading2', view: 'h3', title: 'Teaser', class: 'ck-heading_heading3'},
                {model: 'paragraph', title: 'Text', class: 'ck-heading_paragraph'}
            ]
        }
    }).catch(error => {
        console.error(error);
    });

    $(".dropzone").dropzone({
        url: parent.TYPO3.settings.ajaxUrls["fileUpload"], 
        init: function () {
            this.on("addedfile", function () {
                if (this.files[1] != null) {
                    this.removeFile(this.files[0]);
                }
            });
        },
        success: function (file) {
            console.log(file.xhr.response);
            var response = JSON.parse(file.xhr.response);
            console.log(response);
            $("#fileTempPath").val(response.tempPath);
        },
//                complete: function(e) { console.log(3) },
        dictDefaultMessage: "Datei hier ablegen oder Klicken",
        dictFallbackMessage: "Ihr Browser unterstützt kein Drag & Drop Dateiuploads",
        dictFallbackText: "Bitte verwenden Sie das unten stehende Fallback-Formular, um Ihre Dateien wie in den alten Tagen hochzuladen.",
        dictFileTooBig: "Datei ist zu groß ({{filesize}}MiB). Maximale größe: {{maxFilesize}}MiB.",
        dictInvalidFileType: "Dieser Dateityp ist nicht erlaubt",
        dictResponseError: "Etwas ist schiefgelaufen: Server code {{statusCode}}",
        dictCancelUpload: "Upload abbrechen",
        dictCancelUploadConfirmation: "Wollen Sie den Upload wirklich abbrechen?",
        dictRemoveFile: "Datei entfernen",
        dictRemoveFileConfirmation: null,
        dictMaxFilesExceeded: "Sie können keine weitere Dateien hochladen",
    });

</script>
