<!-- top navigation, can also be befor outer-scroll -->
<div class="top_nav">
    <div class="nav_menu">
        <nav>
            <div class="nav toggle">
                <a id="menu_toggle"><i class="fa fa-bars"></i></a>
            </div>

            <f:comment>
                <ul class="nav navbar-nav" style="padding-top: 19px;" >
                    <select id="customeLanguageSelect" class="form-control" onchange="changeLang(this.value)">
                        <option value="0">Deutsch</option>
                        <option value="1">English</option>
                    </select>
                </ul>
            </f:comment>

            <ul class="nav navbar-nav navbar-right">
                <li class="">
                    <img src="build/images/interreg.png" class="nav-bar-img" alt="interreg">
                </li>
                <li class="">
                    <img src="build/images/ViSIT_Logo_web.png" class="nav-bar-img" alt="interreg">
                </li>


            </ul>
        </nav>
    </div>
</div>
<!-- /top navigation -->