<div class="left_col scroll-view">
    <br />
    <!-- sidebar menu -->
    <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
        <div class="menu_section">
            <h3>Karten</h3>
            <ul class="nav side-menu">
                <li>
                    <a>
                        <i class="fa fa-list"></i> Liste
                    </a>
                </li>
                <li>
                    <a>
                        <i class="fa fa-plus-circle"></i> Neu
                    </a>
                </li>

            </ul>
        </div>
        <div class="menu_section">
            <h3>Info</h3>
            <ul class="nav side-menu">
                <li>
                    <a>
                        <i class="fa fa-info-circle"></i>Über ViSIT
                    </a>
                </li>
            </ul>
        </div>

    </div>
    <!-- /sidebar menu -->

</div>