<div class="left_col scroll-view">
        <br />
        <!-- sidebar menu -->
    <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
        <div class="menu_section">
            <ul class="nav side-menu">
                <li>
                    <f:link.action action="list" controller="inmate">
                        <i class="fa fa-list"></i> Datei Liste
                    </f:link.action>
                </li>
                <li>
                    <f:link.action action="new" controller="inmate">
                        <i class="fa fa-plus-circle"></i> Datei hochladen
                    </f:link.action>
                </li>
                <li>
                    <f:link.action action="new" controller="inmate">
                        <i class="fa fa fa-cog"></i> Partner Verwalung
                    </f:link.action>
                </li>
            </ul>
        </div>
    </div>
        <!-- /sidebar menu -->
</div>