
/* 
    Created on : 13.09.2018, 10:50:43
    Author     : RaichKrispin
*/

//colors

$titleBarBackgroundColor: #4a4a4a;
$titleBarFontColor: #fff;
$titleBarFontSize: 20px;
$titleBarSeparatorColor: #6a6a6a;


@at-root {
  @-ms-viewport { width: device-width; } // stylelint-disable-line at-rule-no-vendor-prefix
}
@mixin smoothen($seconds, $target: all, $transition: ease-in-out){
    -webkit-transition: $target $transition $seconds;
    -moz-transition: $target $transition $seconds;;
    -o-transition: $target $transition $seconds;;
    transition: $target $transition $seconds;;
}

html {
  box-sizing: border-box;
  -ms-overflow-style: scrollbar;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

//get bootstrap + reboot

@import "../vendor/bootstrap/scss/functions";
@import "../vendor/bootstrap/scss/variables";
@import "../vendor/bootstrap/scss/mixins";
@import "../vendor/bootstrap/scss/reboot";
@import "../vendor/bootstrap/scss/grid";
@import "../vendor/bootstrap/scss/utilities/display";
@import "../vendor/bootstrap/scss/utilities/flex";

//init fonts
@font-face {
  font-family: "Rum Sans";
  src: local("Rum Sans Medium"), url("../fonts/RumSans-Medium.ttf") format("truetype");
  font-weight: 500; }
@font-face {
  font-family: "Rum Sans";
  src: local("Rum Sans Semibold"), url("../fonts/RumSans-Semibold.ttf") format("truetype");
  font-weight: 600; }
@font-face {
  font-family: "Rum Sans";
  src: local("Rum Sans Light"), url("../fonts/RumSans-Light.ttf") format("truetype");
  font-weight: 300; }
@font-face {
  font-family: "Rum Serif";
  src: local("Rum Serif Semibold"), url("../fonts/RumSerif-Semibold.ttf") format("truetype");
  font-weight: 600; }
@font-face {
  font-family: "Rum Serif";
  src: local("Rum Serif Bold"), url("../fonts/RumSerif-Bold.ttf") format("truetype");
  font-weight: 700; }

.extbase-debugger{
    position: fixed;
    min-width: 33%;
    opacity: .6;
    bottom: 0;
}

/*.mdi::before {
    font-size: 24px;
    line-height: 14px;
}
.btn .mdi::before {
    position: relative;
    top: 4px;
}
.btn-xs .mdi::before {
    font-size: 18px;
    top: 3px;
}
.btn-sm .mdi::before {
    font-size: 18px;
    top: 3px;
}
.dropdown-menu .mdi {
    width: 18px;
}
.dropdown-menu .mdi::before {
    position: relative;
    top: 4px;
    left: -8px;
}
.nav .mdi::before {
    position: relative;
    top: 4px;
}*/


html, body{
    margin: 0;
    overflow: hidden;
    font-family: "Rum Sans";
}
body > .frame {
    position: absolute;
    height: 100%;
    width: 100%;
}
h1, h2, h3{
    font-family: "Rum Serif";
    font-weight: 600;
}
a{
    color: inherit;
    
    &:hover {
        color: inherit;
        text-decoration: underline;
    }
}

.titleBar{
    background-color: $titleBarBackgroundColor;
    color: $titleBarFontColor;
    font-size: $titleBarFontSize;
    max-height: 60px;
    
    h1{
        font-size: $titleBarFontSize;
        display: inline;
    }
    
    nav{
        padding: ($titleBarFontSize - 5) $titleBarFontSize;
        
        .right{
            width: 50%;
            display: inline-block;
            text-align: right;
            font-size: 13px;
            vertical-align: middle;
            .mdi{
                font-size: 16px;
            }
        }
        .left{
            width: 50%;
            display: inline-block;
        }
        .fa{
            font-size: 90%;
        }
    }
    .spacer-right{
        border-right: .5px solid $titleBarSeparatorColor;
        margin-right: 15px;
        padding-right: 15px;
    }
    .spacer-left{
        border-left: .5px solid $titleBarSeparatorColor;
        margin-left: 15px;
        padding-left: 15px;
    }
}

main{
    height: calc(100% - 60px);
    background-color: aqua;
}


#mapAppWrapper{
    
    position: relative;
    overflow: hidden;
    
    &,
    & > div{
        height: 100%;
    }
/*    .leaflet-marker-pane.active{
        bgCol1:
    }*/
    #cardPoiContent{
        cursor: pointer;
        position: absolute;
        top: 0;
        right: 0;
        z-index: 99999;
        width: 350px;
        /*background-color: rgba(#303030, .9);*/
        background-color: #303030;
        color: white;
        
        @include smoothen(0.5s);
        
        &.hidden{
            right: -400px;
        }
        
        .closeBtn{
            width: 50px;
            height: 50px;
            font-size: 31px;
            left: -25px;
            top: 63px;
            padding: 0px 9px;
            position: absolute;
            background-color: #303030;
            border: solid 1px #6a6a6a;
            border-radius: 50%;
        }
        .content-holder{
            padding: 50px 30px 30px;
            overflow: auto;
            -webkit-overflow-scrolling: touch;
            max-height: 100%;
            
            h1{
                font-size: 35px;
                line-height: 1.09;
            }
            h2{
                font-size: 22px;
                font-weight: 600;
            }
            figure{
                > * {
                    max-width: 100%;
                    height: auto;
                }
                
            }
            p{
                font-size: 16px;
                line-height: 22px;
            }
        }
    }
}